<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olá's blog</title>
</head>
<body>
    <h1>Blog de Exercício</h1>
    <h2>Utilizando templates com Python</h2>
    <h3>Templates Django</h3>
    <p>Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem
    Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem</p>

    <em>Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem</em>

    <strong>Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem</strong>
    <br>
    <a href="https://djangogirls.org">link</a>
    <ul><li>primeiro item</li><li>segundo item</li></ul>
    <div></div>

    <p>Hi There!</p>
    <p>It Works!</p>
</body>
</html>